.header{
    width: 100%;
    background-color: #ffebcd;
}

.headerListWrapper {
    background-color: #cd853f;
    width: 100%;
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 12px;
}

.headerListWrapper h1, .list {
    color: #ffebcd;
    font-family: 
        var(--font-josefin),
        system-ui, -apple-system, BlinkMacSystemFont, 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif,
        Meiryo, "Hiragino Sans", "Yu Gothic UI";
    letter-spacing: 0.02em;
    font-variant-numeric: tabular-nums;
}

/* .headerList {
    margin-right: 12px;
} */


.list {
    list-style: none;
    padding: 8px;
    margin-right: 4px;
}

.list:hover {
    color: #00f;
}

.list:active {
    text-decoration: none;
}

.headerImgWrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 400px;
    pointer-events: none;
}

.headerImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.imgText {
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translateX(-10%);
    margin: 0;
    z-index: 1;
    color: #cd853f;
}


