:root {
    --w-pc: 1120px;
    --w-tab: 840px;
    --w-sp:92vw;
}

@media (max-width: 1024px) {
    .mainWrapper {
        width: min(100%, var(--w-tab));
    }
}

@media (max-width: 640px) {
    .mainWrapper {
        width: min(100%, var(--w-sp));
    }
}

.wrapper {
    display: grid;
    justify-content: center;
    background: #fff;
    border-radius: 8px;
    width: 55%;
    opacity: 0.8;
    margin: 0 auto;
    padding: 10px;
}

.wrapper h1 {
    font-weight: bold;
    font-size: xx-large;
}

.pText {
    font-weight: lighter;
    font-size: x-small;
}

.container {
    display: flex;
    padding: 8px;
}

.container label {
    font-weight: bold;
    margin-right: 8px;
}

.container input, .container textarea {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    display: flex;
    align-items: end;
}

.error {
    color: #f00;
}

.btnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit, .clear {
    margin: 4px;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
}

.submit:hover, .clear:hover {
    opacity: 0.5;
}

.submit:active {
    color: #00f;
    background-color: #fff;
    border: 1px solid #00f;
}

.clear:active {
    color: #ff0;
    background-color: #fff;
    border: 1px solid #ff0;
}

.submit {
    background: #00f;
    color: #fff;
}

.clear {
    background: #ff0;
}