.calendar{
    width: 100%;
    position: relative;
    z-index: 100;
    margin-top: 60px;
    background-color: #ffebcd;
    color: #cd853f;
    box-sizing: border-box;
}

.calendar h2 {
    display: flex;
    justify-content: center;
}

.modalText {
    text-decoration: underline;
}

.modalText:hover {
    color: #ff7f50;
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #cd853f;
    width: 60%;
    background-color: #f0f8ff;
    padding: 20px;
    margin: 12px;
    border-radius: 12px;
}

.list ul {
    list-style: none;
}

.stylieText span{
    font-weight: bold;
}