.calendar{
    width: 100%;
    position: relative;
    z-index: 100;
    margin-top: 60px;
    background-color: #ffebcd;
    color: #cd853f;
    box-sizing: border-box;
}

.toggle {
    text-decoration: underline;
}

.toggle:hover {
    color: #00f;
    cursor: pointer;
}