.contact {
    width: 100%;
    position: relative;
    z-index: 100;
    color: #cd853f;
    background-color: #f8f4e6;
    margin-top: 60px;
    padding: 10px 20px;
}

.contact h2 {
    display: flex;
    justify-content: center;
}

.formWrapper {
    background-color: #fff;
    border-radius: 8px;
    width: 60%;
    border: 2px solid #cd853f;
    padding: 10px;
}