:root {
    --header-h: 64px;
    --footer-h: 56px;
}

.main {
    min-height: calc(100vh - var(--header-h) - var(--footer-h));
    display: grid;
    place-items: center;
}

.container {
    display: grid;
    justify-content: center;
    background: #fff;
    border-radius: 8px;
    width: 55%;
    opacity: 0.8;
    margin: 0 auto;
    padding: 10px;
}

.container h1 {
    color: #000;
    font-weight: bold;
    font-size: x-large;
}

.container h1 span {
    color: #00f;
    text-decoration: underline;
}

.nav {
    padding: 12px;
    display: grid;
    justify-items: center;
}

.h2 {
    font-weight: bold;
    margin: 0;
    text-align: center;
    display: block;
    justify-self: start;
    text-align: left;
}

.link {
    margin: 0;
    text-align: center;
}

.span {
    color: #00f;
    text-decoration: underline;
}

.span:hover {
    color: #d3d3d3;
}

.span:active {
    color: #d3d3d3;
    text-decoration: none;
}

.link {
    text-decoration: underline;
}