.header {
    position: relative;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.header_img {
    object-fit: cover;
    opacity: 0.8;
}

.textContainer {
    position: absolute;
    z-index: 10;
    right: 24px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    top: 50%;
    color: #f0f8ff;
}

.textContainer p {
    display: flex;
    justify-content: center;
}