.wrapper {
    padding: 12px;
    background-color: #8b4513;
}

.wrapper h2 {
    display: flex;
    justify-content: center;
    color: #8b4513;
}

.container {
    background-color: #faebd7;
    border: 1px solid #fff;
    border-radius: 12px;
    margin: 8 40px;
}

.list li {
    width: 100%;
    display: flex;
    justify-content: start;
    color: #8b4513;
    margin-top: 4px;
    padding: 4px;
}

.list span {
    flex: 0 0 auto;
    padding: 4px;
}
.title {
    font-weight: bold;

}

.space {
    width: 0.5rem;
}

.link {
    text-decoration: none;
    overflow: hidden;
    min-width: 0;
}